extends layout

block content
  h1= title
  p You are authenticated.  Closing this window now...
  script.
    window.opener.postMessage({type:'success',token:'#{token}',accountID:'#{accountID}',policyHolderID:'#{policyHolderID}',policyHolderName:'#{policyHolderName}',hasPolicy:#{hasPolicy},email:'#{email}'}, 'http://localhost:8000');window.close();
